.project-container {
    padding-left: 60px;
    padding-right: 60px;
    margin: auto;
    font: arial, sans-serif;
}

.project-header {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.border-top {
    border-top: 1px solid lightgray;
}

.border-top-black {
    border-top: 1px solid darkgray;
}

.project-title {
    font-family: logo;
    font-size: 30px;
}

.page-counter {
    display: inline-block;   
    margin-top: 10px;
}

.project-prompt {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    font-weight: lighter;
}

/* PAGE 1 */
.navy-700 {
    color: #282828;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.category-dropdown {
    display: block;
    position: relative;
    margin: auto;
    width: 40%;
    height: 40px;
    margin-bottom: 60px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
    border: none;
    padding: 10px;
}

.category-dropdown option{
  position: absolute;
}

.project-bttn {
    height: 3.0rem;
    padding: 0 1.2rem;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.25s ease-in-out;
    text-align: center;
    position: relative;
    display: inline-block;
    border-radius: 0;
    background-color: #282828;
    color: white;
    cursor: pointer;
}

.project-bttn:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}


.back-bttn {
    background: none;
    border: none;
    padding: 0;
    color: #656969;
    cursor: pointer;
}

.back-bttn:hover {
    color: black;
    transition-duration: 300ms;
}
.project-bttn:hover:enabled {
    transform: translateY(-1px);
    background-color: black;
}

.project-bttn:disabled {
    opacity: 0.8;
}

.grid-col-12 {
    display: block;
    margin: auto;
}
.project-bttn-container {
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 40%;
    padding-top: 20px;
    border-top: 1px solid lightgrey;
}

.project-description {
    display: block;
    position: relative;
    margin: auto;
    width: 40%;
    height: 100px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
    border: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 40px;
}

.project-description-small {
    display: block;
    position: relative;
    margin: auto;
    width: 40%;
    height: 20px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
    border: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 40px;
}

textarea {
    transition: 300ms;
    resize: none;
}
textarea:focus {
    border: 1px solid #009E74;
}

.country-dropdown {
    display: block;
    position: relative;
    margin: auto;
    width: 40%;
    height: 40px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
    border: none;
    padding: 10px;
}

.country-warning {
    display: block;
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 40%;
    font-size: 12px;
}

.verification {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.verification-button {
    /* background-color: greenyellow;
    display: block;
    position: relative;
    margin: auto; */
    position: relative;
    display: block;
    border: 0;
    margin: auto;
    background: transparent;
    text-decoration: none;
    width: 40%;
    padding: 20px; 
    text-align: left;
    color: green;
}
.verification-button.false {
    /* background-color: lightgray;
    display: block;
    position: relative;
    margin: auto; */
    text-align: left;
    position: relative;
    display: block;
    border: 0;
    margin: auto;
    background: transparent;
    text-decoration: none;
    width: 40%;
    padding: 20px; 
    color: black;
}

#basics-header-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.center {
    margin: auto;
    text-align: center;
}
.edit-page-titles {
    margin-top: 30px;
}

.light {
    font-weight: lighter;
}

.next-button {
    margin-right: 15px;
}

.bg-lightgray {
    background-color: #FBFBFA;
}

.ml-20 {
    margin-left: 20px;
}

.two-three {
    flex-basis: 66.6%;
    background-color: darkgray;
    padding: 20px;
    margin: 20px;
    margin-bottom: 0;
}

.one-three {
    flex-basis: 33.3%;
}

.three-five {
    flex-basis: 60%;
    background-color: darkgray;
    padding: 20px;
    margin: 20px;
}

.two-five { 
    flex-basis: 40%;
    background-color: lightgoldenrodyellow;
    padding: 20px;
    margin: 20px;
}

.bg-lightgreen {
    background-color: lightgreen;
}

.pledged {
    color: #009E74;
    font-size: 25px;
    margin-bottom: 0;
    border-top: 6px solid #009E74;
}

.pledged-total {
    font-size: 13px;
    margin-top: 0;
    font-weight: lighter;
}

.backers {
    color: #656569;
    font-size: 25px;
    margin-bottom: 0;
}

.backers-word {
    font-size: 13px;
    margin-top: 0;
    font-weight: lighter;
}

/*PROJECT INDEX*/

.project-item{
    text-align: center;
    font-weight: bold;
}

.bespoke-hover-tranisition-bottom-bar{
    text-decoration: none;
    transition: text-decoration 300ms;
    text-align: center;
}
.bespoke-hover-tranisition-bottom-bar:hover{
    text-decoration: underline;
}

.index-title{
    text-decoration: underline;
    margin-bottom: 30px;
}